# OpenAI Configuration
LLM_API_KEY=xxx
LLM_BASE_URL=xxx
LLM_MODEL=xxx

#EMBEDDING Model Configuration
EMBED_API_KEY=xxx
EMBED_BASE_URL=xxx
EMBED_MODEL=xxx

# ChromaDB Configuration
CHROMA_COLLECTION=mem0_memories
CHROMA_PERSIST_DIR=./data/chroma

# NebulaGraph Configuration
NEBULA_HOST=xxxx
NEBULA_PORT=xxx
NEBULA_USER=xxx
NEBULA_PASSWORD=xxxx
NEBULA_SPACE=mem0

# Server Configuration
HOST=0.0.0.0
PORT=8000
